<div class="top-bar">
    <div class="top-bar-title">uRshopper - Offer Administration</div>
    <div>
        <ul class="menu">
            <img src="./images/separator.jpg" />
            <li class="nav-menu" routerLink="/Home"><a href="/Home">Home</a></li>
            <img src="./images/separator.jpg" />
            <li class="nav-menu" routerLink="Marketers"><a href="/Marketers">Marketers</a></li>
            <img src="./images/separator.jpg" />
            <li class="nav-menu"><a href="/Suppliers">Suppliers</a></li>
            <img src="./images/separator.jpg" />
            <li class="nav-menu"><a href="/ConsumerOffers">Consumer Offers</a></li>
            <img src="./images/separator.jpg" />
            <li class="nav-menu"><a href="/Analytics">Analytics</a></li>
            <img src="./images/separator.jpg" />
            <li class="nav-menu"><a href="/ContactUs">Contact us</a></li>
        </ul>
    </div>
</div>